/* Small devices (small phones, 600px and below) */
@media only screen and (max-width: 600px) {
    #titleGroup {
        h1 {
            margin: 0 !important;
            font: bold 62px/62px HelveticaFont, "Sans-serif" !important;
        }
    }
    #category {
        .texts {
            h2, h4 {
                writing-mode: horizontal-tb;
                text-orientation: unset;
                transform: rotate(0);
            }
        }
    }
    #artists {
        h2 {
            font: bold 56px / 56px HelveticaFont, "Sans-serif" !important;
        }
    }
    #productgrid {
        .row {
            min-height: 350px;
            max-height: 100%;
            margin-bottom: 24px;
        }
    }
    #artistspage {
        ul {
            li {
                width: 100%;
                flex-direction: column;
                gap: 20px;
                align-items: end;
                margin-bottom: 30px;
                .box {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                    min-height: auto;
                    max-width: 200px;
                    object-fit: cover;
                }
            }
        }
    }
    #newsSection {
        .cont {
            h3 {
                font: 500 60px/120% HelveticaFont, "Sans-serif";
                span {
                    font: 500 60px/90% HelveticaFont, "Sans-serif";
                }
                br {
                    display: none;
                }
            }
            h5 {
                font-size: 32px;
            }
            p {
                font-size: 16px;
            }
        }
    }
    #newsPost {
        h1 {
            font: bold 42px/48px HelveticaFont, "Sans-serif" !important;
        }
        .date {
            border-left: 0;
        }
    }
    #artPost {
        .rotateIMG {
            max-width: 68px;
            height: auto;
            min-height: auto;
            rotate: 90deg;
            top: -60px !important;
            left: 0 !important;
            transform: translate(-50%, -50%);
        }
        .video {
            padding-top: 100px !important;
            margin-left: 0;
        }
        .circleIMG {
            max-width: 100%;
            margin: auto;
        }
    }
    #faqsSection {
        h1 {
            font-size: 32px;
        }
    }
    #productArea {
        .boxes {
            max-width: 82%;
            margin-left: auto;

        }
    }
    #productArea {
        .boxes {
            max-width: 82%;
            .cards {
                &::after {
                        display: none;
                    }
                }
            }
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 990px) {
    #titleGroup {
        h1 {
            margin: 0 !important;
            font: bold 78px/78px HelveticaFont, "Sans-serif" !important;
        }
    }
    #category {
        .texts {
            h2, h4 {
                writing-mode: horizontal-tb;
                text-orientation: unset;
                transform: rotate(0);
            }
        }
    }
    #artists {
        h2 {
            font: bold 72px / 72px HelveticaFont, "Sans-serif" !important;
        }
        .bigIMG {
            max-width: 450px;
        }
    }
    #productgrid {
        .row {
            min-height: 350px;
            max-height: 100%;
            margin-bottom: 24px;
        }
    }
    #artistspage {
        ul {
            li {
                width: 100%;
                flex-direction: column;
                gap: 20px;
                align-items: start;
                margin-bottom: 30px;
                .box {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                    min-height: auto;
                    max-width: 200px;
                    object-fit: cover;
                }
            }
        }
    }
    #newsSection {
        .cont {
            h3 {
                font: 500 76px/120% HelveticaFont, "Sans-serif";
                span {
                    font: 500 76px/90% HelveticaFont, "Sans-serif";
                }
                br {
                    display: none;
                }
            }
            h5 {
                font-size: 40px;
            }
            p {
                font-size: 22px;
            }
        }
    }
    #newsPost {
        h1 {
            font: bold 62px/68px HelveticaFont, "Sans-serif" !important;
        }
        .date {
            border-left: 0;
        }
    }
    #artPost {
        .rotateIMG {
            max-width: 80px;
            height: auto;
            min-height: auto;
            rotate: 90deg;
            top: -60px !important;
            left: 25% !important;
            transform: translate(-50%, -50%);
        }
        .video {
            padding-top: 125px !important;
            margin-left: 0;
        }
        .circleIMG {
            max-width: 92%;
            margin: auto;
        }
    }
    #faqsSection {
        h1 {
            font-size: 48px;
        }
    }
    #productArea {
        .boxes {
            max-width: 92%;
            .cards {
                &:nth-child(2n) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #titleGroup {
        h1 {
            margin: 0 !important;
            font: bold 90px/90px HelveticaFont, "Sans-serif" !important;
        }
    }
    #artists {
        h2 {
            font: bold 52px / 52px HelveticaFont, "Sans-serif" !important;
        }
    }
    #productgrid {
        .row {
            min-height: 250px;
            max-height: 250px;
            margin-bottom: 24px;
            &.justify-content-center .col-12.col-lg-6:nth-child(1) {
                padding: 0;
                clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
                margin-right: -20px;
                overflow: hidden;
            }
            &.justify-content-center .col-12.col-lg-6:nth-child(2) {
                padding: 0;
                clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
                margin-left: -20px;
                overflow: hidden;
            }
        }
    }
    #newsSection {
        .cont {
            h3 {
                font: 500 120px/120% HelveticaFont, "Sans-serif";
                span {
                    font: 500 120px/90% HelveticaFont, "Sans-serif";
                }
                br {
                    display: none;
                }
            }
            h5 {
                font-size: 46px;
            }
            p {
                font-size: 24px;
            }
        }
    }
    #newsPost {
        h1 {
            font: bold 62px/68px HelveticaFont, "Sans-serif" !important;
        }
    }
    #artPost {
        .video {
            margin-left: 115px;
        }
        .circleIMG {
            max-width: 85%;
            margin: auto;
        }
    }
    #productArea {
        .boxes {
            max-width: 95%;
            .cards {
                &:nth-child(3n) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #artists {
        h2 {
            font: bold 96px / 96px HelveticaFont, "Sans-serif" !important;
        }
    }
    #productgrid {
        .row {
            min-height: 360px;
            max-height: 360px;
            margin-bottom: 32px;
            &.justify-content-center .col-12.col-lg-6:nth-child(1) {
                padding: 0;
                clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
                margin-right: -35px;
                overflow: hidden;
            }
            &.justify-content-center .col-12.col-lg-6:nth-child(2) {
                padding: 0;
                clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
                margin-left: -35px;
                overflow: hidden;
            }
        }
    }
    #newsSection {
        .cont {
            h3 {
                font: 500 140px/100% HelveticaFont, "Sans-serif";
                span {
                    font: 500 140px/90% HelveticaFont, "Sans-serif";
                }
                br {
                    display: none;
                }
            }
        }
    }
    #newsPost {
        h1 {
            font: bold 76px/86px HelveticaFont, "Sans-serif" !important;
        }
    }
    #artPost {
        .video {
            margin-left: 115px;
        }
        .circleIMG {
            max-width: 92%;
            margin: auto;
        }
    }
    #productArea {
        .boxes {
            .cards {
                &:nth-child(3n) {
                    &::after {
                        display: block;
                    }
                }
                &:nth-child(4n) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

/* Extra large devices (large desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

}